@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pixel-font {
  font-family: 'Press Start 2P', cursive;
}

.day-bg {
  background-image: url('D:\Burnout_Prediction\burnout-frontend\public\grass-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.night-bg {
  background-image: url('D:\Burnout_Prediction\burnout-frontend\public\end-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.glass-container {
  background: rgba(255, 255, 255, 0.85);
  border: 4px solid #2f2f2f;
}

.pixel-input {
  width: 100%;
  padding: 10px;
  border: 3px solid #444;
  background-color: #eee;
  font-family: 'Press Start 2P';
  font-size: 12px;
  border-radius: 4px;
}

.minecraft-btn {
  background-color: #3d7e3a;
  color: white;
  font-family: 'Press Start 2P';
  padding: 12px;
  width: 100%;
  border: 3px solid #000;
  cursor: pointer;
  transition: background 0.3s;
}

.minecraft-btn:hover {
  background-color: #2f6e2c;
}

.minecraft-btn-small {
  font-family: 'Press Start 2P';
  padding: 8px 12px;
  border: 2px solid #000;
  background: #3d7e3a;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.xp-bar {
  width: 100%;
  height: 20px;
  border: 2px solid #000;
  background: #ccc;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.xp-fill {
  height: 100%;
  width: 0%;
  animation: fillXP 2s forwards;
}

.bg-green-600 {
  background: #00ff00;
}

.bg-red-600 {
  background: #ff5555;
}

@keyframes fillXP {
  0% { width: 0%; }
  100% { width: 100%; }
}
